doctype html
html(lang="en")
	head
		meta(charset="UTF-8")
		title Kropp Fitness Club
		link(rel="stylesheet" href="css/app.min.css")

	body

		include partials/mixins.pug

		+mainHeader()

		main.content
			h1.visually-hidden Kropp Fitness Club
			section.banner
				h2.visually-hidden Upcoming Events
				.banner-body 
					.banner-body-info 
						img.banner-body-icon(
							src="./icons/bold-arrow-down-right.svg" 
							width="194" 
							height="194" 
							alt=""
							loading="lazy"
						)
						p 
							| New event 
							br
							| Coming up / 2024, Dec
							time(datetime='2024-12-24') 24
							|  - 
							time(datetime='2024-12-25') 25
					h3.banner-body-title CrossFit
				.banner-pagination
					ul.banner-pagination-list
						li.banner-pagination-item
							button.banner-pagination-button.is-active(type="button")
						li.banner-pagination-item
							button.banner-pagination-button(type="button")
						li.banner-pagination-item
							button.banner-pagination-button(type="button")
							
		// Include project scripts
		script(src="js/app.min.js")