// Миксин для кнопки
mixin button(text)
  button&attributes(attributes)= text

// Миксин для инпута
mixin input(type, name, placeholder = '', id = '', className = '', required = false)
  input(type=type name=name id=id placeholder=placeholder class=className required=required)&attributes(attributes)

